<% content_for :title, @year %>

<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= @year %></h1>
        </hgroup>
      </div>
    </div>
  </div>
</header>

<%= render 'transparency/year', year: @year %>
