html 
    scroll-behavior: auto !important

main
    @include media-breakpoint-down(lg)
        overflow: hidden

.btn.rounded-pill
    padding: $badge-padding-y $badge-padding-x

.img-fluid
    width: 100%

.table 
    th[scope="row"]
        max-width: 0


.dropdown-toggle
    &::after
        background: none
        border: none
        font-size: 60%
    &[aria-expanded="true"]
        @include icon(chevron-up, after)
    &[aria-expanded="false"]
        @include icon(chevron-down, after)

article
    .tags
        gap: pxToRem(12)
        position: relative
        z-index: 2

.directory
    button
        @include button-reset
        @extend .text-dark
        &:first-child
            padding-left: 0
    @include media-breakpoint-down(md)
        &-container
            > [class$="-list"]
                gap: calc(var(--bs-gutter-x) * 0.5)
                padding-left: calc(var(--bs-gutter-x) * 0.5)
                padding-right: calc(var(--bs-gutter-x) * 0.5)
                > div
                    padding-left: 0
                    padding-right: 0
                    width: calc(50% - calc(var(--bs-gutter-x) * 0.25))
                .btn-favorites 
                    padding: 0.25rem
                    a
                        margin-top:0.25rem
                        margin-left: 0.25rem
                        padding: 0.5rem

.accordion-button
    width: auto
    &::after
        margin-left: map-get($spacers, 1)