html 
    scroll-behavior: auto !important

main
    @include media-breakpoint-down(lg)
        overflow: hidden

.btn.rounded-pill
    padding: $badge-padding-y $badge-padding-x

.img-fluid
    width: 100%

.table 
    th[scope="row"]
        max-width: 0


.dropdown-toggle
    &::after
        background: none
        border: none
        font-size: 60%
    &[aria-expanded="true"]
        @include icon(chevron-up, after)
    &[aria-expanded="false"]
        @include icon(chevron-down, after)

article
    .tags
        gap: pxToRem(12)
        position: relative
        z-index: 2

.directory
    button
        @include button-reset
        @extend .text-dark
        &:first-child
            padding-left: 0
    .directory-filters
        .navigation-links,
        .js-offcanvas-cta-container
            @extend .flex-row
            @extend .flex-md-column
            @extend .flex-xxl-row
        &.is-full-width
            @extend .mb-md-3
            .navigation-links,
            .js-offcanvas-cta-container
                @extend .flex-row
                align-items: baseline
            @include media-breakpoint-up(md)
                flex-direction: row !important
                justify-content: space-between
                width: 100%
                // actors directory: cta to the right
                .actors-index &
                    .js-offcanvas-cta-container
                        justify-content: flex-end
        @include media-breakpoint-down(md)
            .offcanvas-search
                margin-left: calc(var(--bs-gutter-x) / -2)
                margin-right: calc(var(--bs-gutter-x) / -2)
                .faceted__facets
                    margin-left: calc(var(--bs-gutter-x) / 2)
                    margin-right: calc(var(--bs-gutter-x) / 2)
    @include media-breakpoint-down(md)
        .directory-container
            > [class$="-list"]
                padding: 0 calc(var(--bs-gutter-x) / 2)
                gap: calc(var(--bs-gutter-x) / 2)
                > div
                    padding-left: 0
                    padding-right: 0
                    width: calc(50% - calc(var(--bs-gutter-x) * 0.25))
                    .btn-favorites 
                        padding-top: 0.25rem !important
                        padding-left: 0.25rem !important
                        a
                            margin-top:0.25rem
                            margin-left: 0.25rem
                            padding: 0.5rem


.accordion-button
    width: auto
    &::after
        margin-left: map-get($spacers, 1)