<div class="banner banner--background-<%= @banner.background_color.delete('#') %>" style="background-color: <%= @banner.background_color %>">
  <div class="container py-2">
    <div class="row">
      <div class="col-xxl-8 offset-xxl-2">
        <%= sanitize @banner.text %>
      </div>
    </div>
  </div>
</div>